@use '../../assets/styles/utilities';

@font-face {
  font-family: 'Poppins-Medium';
  src: url('../../assets/fonts/Poppins-Medium.ttf');
}

.categories {
  background-image: linear-gradient(utilities.$purple, utilities.$blue);
  height: 100%;
  padding: 30px 40px;
  position: relative;
  & > .overlap {
    display: none;
    &.overlap-show {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 2;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
  & > .title > .title-text {
    font-family: 'Poppins-Medium';
    color: utilities.$yellow;
    font-size: 40px;
    line-height: 1;
    font-weight: bold;
    &.smooth-categories {
      animation: up-animation 1s linear;
      animation-fill-mode: forwards;
      opacity: 0;
    }
  }

  & > .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    & > .wrap-cards >.card:nth-child(even) > .title > .category-title {
      color: utilities.$purple
    }
    &.smooth-categories > .wrap-cards > .card:nth-child(-n+3) > * {
      animation: up-animation 1s linear;
      animation-fill-mode: forwards;
      opacity: 0;
    }
    &.smooth-categories > .wrap-cards > .card > * {
      animation: up-animation 1s linear;
      animation-fill-mode: forwards;
      animation-delay: 400ms;
      opacity: 0;
    }
  }

  @media (min-width: utilities.$layout-breakpoint-desktop) {
    padding: 40px 70px;
    & > .cards {
      display: block;
      & > .wrap-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-template-areas:
        "card-0 card-1 card-2"
        "card-3 card-4 card-5";
        grid-template-rows: 300px 300px;
        grid-gap: 25px;

        & > .card {
          &.card-0 {
            grid-area: card-0;
          }
          &.card-1 {
            grid-area: card-1;
          }
          &.card-2 {
            grid-area: card-2;
          }
          &.card-3 {
            grid-area: card-3;
          }
          &.card-4 {
            grid-area: card-4;
          }
          &.card-5 {
            grid-area: card-5;
          }
        }
      }
    }
  }

  @media (min-width: utilities.$layout-breakpoint-desktop) and (max-width: utilities.$layout-breakpoint-medium) {
    & > .cards {
      & > .wrap-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-template-areas:
        "card-0 card-1"
        "card-2 card-3"
        "card-4 card-5";
        grid-template-rows: 300px 300px 300px;
        grid-gap: 25px;
        & > .card {
          &.card-0 {
            grid-area: card-0;
          }
          &.card-1 {
            grid-area: card-1;
          }
          &.card-2 {
            grid-area: card-2;
          }
          &.card-3 {
            grid-area: card-3;
          }
          &.card-4 {
            grid-area: card-4;
          }
          &.card-5 {
            grid-area: card-5;
          }
        }
      }
    }
  }

  @media (min-width: utilities.$layout-breakpoint-large) {
    display: flex;
    flex-direction: column;

    & > .cards {
      max-width: 950px;
      width: 100%;
      align-self: center;
    }
  }
}

@keyframes up-animation {
  0% {
    transform: translate(0, 25px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0px);
    opacity: 1;
  }
}