@use '../../assets/styles/utilities';

.items {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  > .item--card {
    box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-decoration: none;
    background-color: #f5f6f9;

    &:hover, :visited, :active {
      text-decoration: none;
    }
    > .item--img {
      text-align: center;
      width: 280px;
      > img {
        border-radius: 10px;
        width: 100%;
       }
    }

    > .content {
      text-align: left;
      width: 100%;
      color: utilities.$black;
      > .period {
        font-size: 14px;
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      > .name {
        font-family: utilities.$poppings-regular-font;
        font-size: 24px;
        margin: 0;
        margin-bottom: 2px;
      }

      > .description {
        margin: 0;
        font-size: 14px;
        color: utilities.$gray;
      }

      > .job-title{
        font-size: 12px;
        margin: 0;
        margin-bottom: 10px;
      }
    }
  }
  > .github  {
    margin: auto;
    font-weight: 100;
    font-size: 16px;
    & > .github-link {
      color: utilities.$blue;
      text-decoration: none;
    }
  }

  @media (min-width: utilities.$layout-breakpoint-desktop) {
    align-items: baseline;
    > .item--card {
      width: 100%;
      align-items: flex-start;
      flex-direction: row;
      max-width: -webkit-fill-available;
      > .item--img {
        width: 150px;
        margin-right: 20px;
      }
      > .content {
        overflow: hidden;
      }
    }
  }
}

.item--card:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}