@use '../../assets/styles/utilities';


.stack {
  .tech-stack {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    & > .tech-logo {
      margin-right: 10px;
    }

    & > .tech-info {
      & > .tech-name {
        font-family: utilities.$poppings-regular-font;
        margin: 0 0 5px 0;
        }

      & > .tech-description {
        font-size: 12px;
        color: utilities.$gray;
        margin: 0px;
      }
    }
  }

  @media (min-width: utilities.$layout-breakpoint-desktop) {
    height: 330px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    & > .tech-stack {
      & > .tech-logo {
        & > img {
          width: 60px;
        }
      }

      & > .tech-info {
        & > .tech-name {
          font-size: 20px;
          }
        & > .tech-description {
          font-size: 14px;
        }
      }
    }
  }
}

.foot-description {
  font-size: 14px;
  text-align: center;
  margin: 0;
}