@use '../../assets/styles/utilities';

.loading-card {
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  grid-template-areas:
    'img title title'
    'img content content';

  .img-skeleton {
    width: 100%;
    height: 100%;
    grid-area: 'img';
    animation: progress 2s ease infinite;
  }

  .wrap-img {
    width: 40%;
    height: 200px;
    margin-right: 20px;
  }

  .wrap-skeleton-content {
    width: 60%;
  }

  .title-skeleton {
    width: 100%;
    height: 60px;
    grid-area: 'title';
    margin-bottom: 10px;
    animation: progress-content 2s ease infinite;
    animation-delay: 200ms;
  }

  .content-skeleton {
    width: 100%;
    height: 130px;
    grid-area: 'content';
    animation: progress-content 2s ease infinite;
  }

  .bg-gray {
    background-color: utilities.$grayLighter;
    border-radius: 10px;
  }

  @keyframes progress {
    0% {
      width: 5%;
    }
    100% {
      width: 100%;
    }
  }

  @keyframes progress-content {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
}