@use '../../assets/styles/utilities';

@font-face {
  font-family: 'LS-Bold';
  src: url('../../assets/fonts/LeagueSpartan-Bold.ttf');
}

.landing-page {
  display: flex;
  width: 100vw;
  height: 90vmax;
  box-sizing: border-box;
  position: relative;
  flex-direction: column;
  padding: 30px 40px;
  background-image: url('../../assets/images/bg-blue.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300px;
  animation: animatedBackground 3s linear;

  @keyframes animatedBackground {
    0% {
      background-size: 180px;
    }
    100% {
      background-size: 300px;
    }
  }

  .header {
    display: flex;
    & > img {
      width: 60px;
      margin-right: 5px;
    }
  }
  & > .landing-page__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 80px;
    height: 100%;
    margin-top: 60px;

    & > .lading-page__text {
      animation: title-text 1s linear;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      padding-left: 0px;

      @keyframes title-text {
        0% {
          opacity: 0;
        }
        50% {
          opacity: 0.3;
        }
        100% {
          opacity: 1;
        }
      }

      & > h2 {
        margin: 0px;
        white-space-collapse: collapse;
        text-wrap: nowrap;
        text-align: center;
        font-size: 3.7vmax;
      }
      & > .emoji {
        font-size: 80px;
      }
      & > .secondary-font {
        font-family: utilities.$ls-font-bold;
        color: utilities.$purple;
        margin-bottom: 33px;
        margin-top: 10px;
        font-size: 24px;
      }
    }
  }

  .header__secondary-font {
    font-family: utilities.$ls-font-bold;
    color: utilities.$blue;
    line-height: 1;
    font-size: 22px;
    margin: auto 0;
  }

  .wrap-data {
    .data {
      display: flex;
      margin-bottom: 25px;
      & > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        & > .value {
          font-family: utilities.$ls-font-bold;
          font-size: 40px;
          margin: 0;
        }
        & > .datum {
          font-size: 18px;
          margin: 0;
          text-align: center;
          color: utilities.$grayDark;
        }
      }
    }
  }

  @media (min-width: utilities.$layout-breakpoint-desktop) {
    font-size: 5vw;
    padding: 40px 70px;
    height: min-content;
    display: flex;
    background-size: 500px;
    animation: animatedBackground 3s linear;

    @keyframes animatedBackground {
      0% {
        background-size: 300px;
      }
      100% {
        background-size: 500px;
      }
    }
    & > .landing-page__content {
      display: flex;
      align-self: center;
      margin: 140px 0;
      max-width: 950px;
      width: 100%;
      justify-content: flex-start;

      & > .lading-page__text {
        width: 100%;
        & > h2 {
          margin: 0px;
          white-space-collapse: collapse;
          text-wrap: nowrap;
          font-size: 40px;
        }
        & > .emoji {
          font-size: 120px;
        }
        & > .secondary-font {
          font-size: 35px;
        }
      }
      .wrap-data {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .data {
          width: 50%;
          .value {
            font-size: 40px;
          }
        }
      }
    }
  }

  @media (min-width: utilities.$layout-breakpoint-large) {
    & > .landing-page__content {
      max-width: 950px;
      & > .lading-page__text {
        & > h2 {
          font-size: 50px;
        }
        & > .secondary-font {
          font-size: 45px;
        }
      }

      .wrap-data {
        .data {
          .value {
            font-size: 50px;
          }
        }
      }
    }
  }
}