@use '../../assets/styles/utilities';

@font-face {
  font-family: 'Berlinerins';
  src: url('../../assets/fonts/Berlinerins-Trial-Grotesk.otf');
}

.landing-page {
  display: flex;
  width: 100vw;
  height: 90vmax;
  box-sizing: border-box;
  position: relative;
  flex-direction: column;
  padding: 30px 40px;
  .header {
    display: flex;
    & > img {
      width: 60px;
      margin-right: 5px;
    }
    & > p {
      margin: 0;
      font-size: 26px;
      line-height: 26px;
    }
  }
  & > .landing-page__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 80px;
    height: 100%;
    & > .lading-page__paper-ariplane {
      position: relative;
      animation-duration: 1s;
      animation-name: airplane-icon;
      animation-iteration-count: 1;
      animation-timing-function: ease-in-out;
      @keyframes airplane-icon {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }

      & > .paper-ariplane {
        position: absolute;
        top: -100px;
        left: 150px;
        width: 50vw;
        animation: airplane-icon 1s linear;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;

        @keyframes airplane-icon {
          0% {
            scale: 100%;
          }
          50% {
            scale: 110%;
          }
          75% {
            scale: 100%;
          }
          100% {
            scale: 103%;
          }
        }
      }
    }

    & > .lading-page__text {
      animation: title-text 1s linear;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      @keyframes title-text {
        0% {
          opacity: 0;
        }
        50% {
          opacity: 0.3;
        }
        100% {
          opacity: 1;
        }
      }

      & > h2 {
        margin: 0px;
        white-space-collapse: collapse;
        font-size: 7vw;
        text-wrap: nowrap;
      }

      & > .secondary-font {
        font-family: utilities.$secondary-font;
        color: utilities.$blue;
      }
    }
  }

  .header__secondary-font {
    font-family: utilities.$secondary-font;
    color: utilities.$blue;
    line-height: 22px;
    font-size: 24px;
  }

  @media (min-width: utilities.$layout-breakpoint-desktop) {
    font-size: 5vw;
    padding: 40px 70px;
    height: min-content;
    display: flex;
    & > .landing-page__content {
      display: flex;
      flex-direction: row;
      align-self: center;
      margin: 140px 0;
      max-width: 950px;
      width: 100%;
      justify-content: flex-start;

      & > .lading-page__paper-ariplane {
        position: relative;
        width: 200px;
        height: 200px;

        & > .paper-ariplane {
          position: absolute;
          left: -40px;
          top: -80px;
          width: 250px;
        }
      }
      & > .lading-page__text {
        max-width: 600px;
        width: 100%;
        & > h2 {
          margin: 0px;
          white-space-collapse: collapse;
          font-size: 55px;
          text-wrap: nowrap;
        }
        & > .secondary-font {
          margin: 10px 0px;
          font-size: 65px;
        }
      }
    }
  }

  @media (min-width: utilities.$layout-breakpoint-desktop) and (max-width: utilities.$layout-breakpoint-medium) {
    & > .landing-page__content {
      max-width: 850px;
      & > .lading-page__paper-ariplane > .paper-ariplane {
        width: 200px;
        top: -55px;
      }
      & > .lading-page__text {
        max-width: 500px;
        & > h2 {
          font-size: 45px;
        }
        & > .secondary-font {
          font-size: 45px;
        }
      }
    }
  }
}