@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.ttf');
}


body {
  margin: 0;
  font-family: 'Poppins', 'Roboto', sans-serif;
}

h2, p {
  line-height: 1
}

textarea {
  font-family: 'Poppins', 'Roboto', sans-serif;
}