// Breakpoints
$layout-breakpoint-desktop: 760px;
$layout-breakpoint-large: 1150px;
$layout-breakpoint-medium: 880px;

// Color:
$blue: #2c66ff;
$purple: #5e17eb;
$yellow: #fff42c;
$white: #ffff;
$gray: #515151;
$grayLight: #cdcdcd;
$black: #000000;
$green: #368f54;
$red: #b92749;

// Font:
$secondary-font: 'Berlinerins';
