// Breakpoints
$layout-breakpoint-desktop: 760px;
$layout-breakpoint-large: 1150px;
$layout-breakpoint-medium: 880px;

// Color:
$blue: #2c66ff;
$purple: #5e17eb;
$yellow: #fff42c;
$white: #ffff;

// Font:
$secondary-font: 'Berlinerins';
